
<h1 class="page-header">Background</h1>

<dl class="dl-horizontal"></dl>
<div class="row">
	<div class="span2">
		<h2>Basic</h2>
	</div>		
		
	<div class="span6"><%= ToTable(@basic_table,"table table-striped").html_safe %></div>
</div> 

<dl class="dl-horizontal"></dl>
<div class="row">
	<div class="span2">
		<h2>Education</h2>
	</div>	
	<div class="span6"><%= ToTable(@education_table,"table table-striped").html_safe %></div>
</div> 

<dl class="dl-horizontal"></dl>
<div class="row">
	<div class="span2"><h2>Experience</h2></div>	
	<div class="span6">
		<h3>Short Intern</h3>
		<div class="row">
			<div class="span1"><h4 align="right">Company:</h4></div>	
			<div class="span4">Dayen technology for 2 month</div>
		</div>
		<div class="row">
			<div class="span1"><h4 align="right">Position:</h4></div>	
			<div class="span4">Software Engineer</div>
		</div>
		<div class="row">
			<div class="span1"><h4 align="right">Description:</h4></div>	
			<div class="span4"><p>Image processing develope</p><hr></div>
		</div>
		
		
		<h3>Contest</h3>
		<div class="row">
			<div class="span1"><h4 align="right">Name:</h4></div>	
			<div class="span4">IC design (cell-based)</div>
		</div>
		<div class="row">
			<div class="span1"><h4 align="right">Held by:</h4></div>	
			<div class="span4">CIC</div>
		</div>
		<div class="row">
			<div class="span1"><h4 align="right">Description:</h4></div>	
			<div class="span4"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim</p></div>
		</div>

		<div class="row">
			<div class="span1"><h4 align="right">Name:</h4></div>	
			<div class="span4">Start-up company competetion</div>
		</div>
		<div class="row">
			<div class="span1"><h4 align="right">Held by:</h4></div>	
			<div class="span4">National Central University</div>
		</div>
		<div class="row">
			<div class="span1"><h4 align="right">Description:</h4></div>	
			<div class="span4"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim</p><hr></div>
		</div>

		<h3>Part time jobs</h3>
		<div class="row">
			<div class="span1"><h4 align="right">Name:</h4></div>	
			<div class="span4">Website: qqlaw.tw</div>
		</div>
		<div class="row">
			<div class="span1"><h4 align="right">Description:</h4></div>	
			<div class="span4"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p></div>
		</div>

		<div class="row">
			<div class="span1"><h4 align="right">Name:</h4></div>	
			<div class="span4">Website: LTC lab</div>
		</div>
		<div class="row">
			<div class="span1"><h4 align="right">Description:</h4></div>	
			<div class="span4"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p></div>
		</div>

		<div class="row">
			<div class="span1"><h4 align="right">Name:</h4></div>	
			<div class="span4">Data Analysis</div>
		</div>
		<div class="row">
			<div class="span1"><h4 align="right">Description:</h4></div>	
			<div class="span4"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh </p></div>
		</div>

		<div class="row">
			<div class="span1"><h4 align="right">Name:</h4></div>	
			<div class="span4">Tutor</div>
		</div>
		<div class="row">
			<div class="span1"><h4 align="right">Description:</h4></div>	
			<div class="span4">
				English/Math for junior high students<br>
		  		Math for senior high school student<br>
				C language and Electrical Devices for college students<br>
				

			</div>
		</div>
		
	</div>	
</div> 




<h1 class="page-header">Biography</h1>

<div>
	<h3>hello world</h3>
	Hello there!
	I'm 

</div>